.jumbotron-fluid
{
	font-style: bold;
	background-color: #24adfc;
	font-size: 30px
}
.btn-primary
{
	background-color: grey;
}
.btn-primary:hover
{
  background-color: green;
}
.btn-secondary
{
	background-color: grey;
}
.btn-secondary:hover
{
  background-color: red;
}
