#div1
		{

			border-bottom: 2px solid red;
			width: 400px;
			text-align: center;
			border-right: 2px solid red;
			animation: bgColor 10s infinite;
			
		}
	.container
	{
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
	}	
	img
	{
		width: 450px;
		height :350px;
		margin: 5px;
		transition: all 1s;
		box-shadow: 4px 4px 4px #883885
	}
	img:hover
	{
		transform: rotate(90deg)
		 	   scale(1,1.5)
			   rotate(-90deg)
			   scale(1,1);
		           
	}
	body
	{
		background-color: #24aedf;
	}
	#heading1
	{
		width:100%;
  		height:100%;
  		color:black;
  		font-weight:bold;
      text-align: center;
  		animation: bgColor 5s infinite linear;
	}
  @keyframes bgColor {
  12.5% {
    background-color: #FF0000;
  }
  25% {
    background-color: #FFA500;
  }
  37.5% {
    background-color: #FFFF00;
  }
  50% {
    background-color: #7FFF00;
  }
  62.5% {
    background-color: #00FFFF;
  }
  75% {
    background-color: #0000FF;
  }
  87.5% {
    background-color: #9932CC;
  }
  100% {
    background-color: #FF0000;
  }
	
